        [Unit]
        Description=myscript
        After=network.target

        [Service]
        ExecStart=/root/dateapp/startup.sh
        Restart=on-failure

        [Install]
        WantedBy=multi-user.target
